* {
    margin: 0;
}

head body {
    box-sizing: border-box;
    font-size: 14px;
}

.top-head {
    width: 100%;
    max-width: 1920px;
    height: 45px;
    background: #C8A35F;
}

.lenguage-bottom {
    display: inline-block;
    position: absolute;
    left: 21%;
    margin-top: 15px;
    font-size: 12px;
    font-family: Roboto;
    color: #FFFFFF;
}

.eng {
    margin-left: 32px;
}

.fr {
    margin-left: 66px;
}

.head-phone {
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    font-size: 12px;
    font-family: Roboto;
    left: 47.5%;
    color: #FFFFFF;
}

.head-email {
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    font-size: 12px;
    font-family: Roboto;
    right: 21%;
    color: #FFFFFF;
}

.bottom-header {
    width: 100%;
    max-width: 1920px;
    height: 100px;
    background: #2F343A;
}

.logo-images {
    position: absolute;
    left: 21%;
    top: 72px;
}

.name-company {
    position: absolute;
    left: 24.6%;
    top: 84px;
}

.wertical-line {
    border: 1px solid #FFFFFF;
    height: 46px;
    position: absolute;
    top: 72px;
    left: 34%;
}

.images-geopos {
    position: absolute;
    left: 35.5%;
    top: 82px;
}

.ofis {
    position: absolute;
    font-size: 14px;
    font-family: Roboto;
    left: 37.5%;
    top: 86px;
    color: #FFFFFF;
}

.menu li {
    display: inline-block;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 30px;

}

.menu {
    position: absolute;
    left: 60%;
    top: 82px
}

.name-menu {
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto;
    color: #FFFFFF;
}

.fon-avto {
    position: absolute;
    top: 145px;
    width: 100%;
    max-width: 1920px;
    height: 620px;
    background-image: url(../images/fon-daf.jpg);
}

.center-menu {
    border: 1px solid #C8A35F;
    position: absolute;
    margin-top: 155px;
    margin-left: 25%;
    width: 47.9%;
    height: 245px;
}

.main-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 45px;
}

.dop-text {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-top: 36px;
}

.services {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 561px;
    top: 765px;
    background: #393F47;
}

.center-fon {
    background: #2F343A;
    width: 21.3%;
    height: 561px;
    display: block;
    margin: 0 auto;
}

.delivery {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    width: 384px;
    position: absolute;
    top: 106px;
    left: 18.5%;
}

.delivery::before {
    content: "";
    width: 90px;
    height: 6px;
    background: #C8A35F;
    display: block;
    position: relative;
    bottom: 40px;
}

.text-delivery {
    font-family: sans-serif;
    color: #FFFFFF;
    position: absolute;
    font-size: 18px;
    left: 18.5%;
    margin-top: 255px;
    width: 384px;
}

.button1 {
    position: absolute;
    width: 220px;
    height: 55px;
    background: #C8A35F;
    left: 18.5%;
    top: 390px;
}

.button1-text {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 17px auto;
}

.yellow-car {
    position: relative;
    top: 116px;
    left: 34px;
}

.next {
    font-family: sans-serif;
    color: #C8A35F;
    display: block;
    position: absolute;
    left: 72%;
    top: 107px;
    font-size: 16px;
    width: 65px;
}

.next::after {
    content: "";
    background-image: url(../images/Arrow\ right.png);
    display: block;
    width: 67px;
    height: 23px;
    position: relative;
    left: 70px;
    bottom: 20px;
}

.exit {
    font-family: sans-serif;
    color: #C8A35F;
    display: block;
    position: absolute;
    left: 79%;
    top: 400px;
    font-size: 16px;
    width: 65px;
}

.exit::before {
    content: "";
    background-image: url(../images/Arrow\ left.png);
    display: block;
    width: 67px;
    height: 23px;
    position: relative;
    left: -95px;
    bottom: -20px;
}